@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

:root {
    --white: #fff;
    --lightblue: #1283b9;
    --darkblue: #06435f;
}

#fejlec {
    width: 100%;
    height: 400px;
    background-image: url("../img/balaton_bg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fejlec h1 {
    font-family: "Marhey", sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;
}

.row {
    padding: 25px 0;
}

h2 {
    font-family: "Marhey", sans-serif;
    color: var(--lightblue) !important;
    font-variant: small-caps;
    text-decoration: underline wavy;
}

table {
    width: 80%;
    margin: auto;
    box-shadow: 1px 1px 10px var(--darkblue);
}
table thead tr:nth-child(1) { background-color: var(--lightblue); }
table thead tr:nth-child(2) { background-color: var(--darkblue); }
table thead { 
    color: var(--white);
    text-align: center;
    font-family: "Marhey", sans-serif;
}
table tbody th {
    color: var(--darkblue);
    font-variant: small-caps;
    font-weight: bold;
}
table td, table th {
    background-color: rgba(18, 132, 185, 0.1);
    padding: 10px;
}
table tr {
    border-bottom: 1px solid var(--darkblue);
}
table tr:last-child {
    border-bottom: none;
}
table tr:hover {
    background-color: rgba(18, 132, 185, 0.7);
}
table th:first-child,
table td:first-child {
    width: 25%;
}

#velencei, #hevizi {
    box-shadow: 1px 1px 3px var(--darkblue);
}

.navbar {
    background-color: var(--darkblue);
}

.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
}

#galeria {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
#galeria img {
    width: 100%;
    height: 100%;
    filter: grayscale(60%);
    transition: 1s;
    cursor: pointer;
    border-radius: 5px;
}
#galeria img:hover {
    filter: grayscale(0%);
    transform: scale(1.04);
}

#galeria img:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#galeria img:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#galeria img:nth-of-type(3) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#galeria img:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
#galeria img:nth-of-type(5) {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
#galeria img:nth-of-type(6) {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

#footer p {
    font-family: "Marhey", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px black;
}

@media (max-width: 992px) {
    #fejlec h1 {
        font-size: 1.5em;
    }
}